.header {
  display: flex;
  justify-content: space-between;
  padding: 92px 24px 84px;
  background-color: #fff;
}

.header__menu {
  display: flex;
  flex-basis: 40%;
  justify-content: end;
  text-align: end;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header__links-list .header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
}

.header__links-list-item {
  color: #000;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  list-style: circle;
  padding-bottom: 11px;
}

.header__logo {
  display: inline;
  width: 148px;
}

.address {
  display: grid;
  flex-basis: 40%;
  grid-template-columns: 210px;
  grid-template-rows: repeat(3, 1rf);
  place-content: center end;
  margin: 0;
  padding-right: 55px;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 24.3px;
  text-align: start;
}

.cover {
  position: relative;
  z-index: 0;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: #000;
}

.cover__title {
  padding: 165px 50px 129px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: block;
}

.aligned-text {
  padding-bottom: 18px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  padding-right: 57px;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  line-height: 100px;
  letter-spacing: 0.6em;
  text-align: right;
}

.aligned-text_right .letter-spacing-extended {
  letter-spacing: 0.3em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 50px 0px 51px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  padding-left: 29px;
  font-weight: 400;
  word-spacing: 18px;
}

.bet-button {
  box-sizing: border-box;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 177px 24px 146px;
}

.lots__heading {
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 27px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.card_type_book,
.card_type_film,
.card_type_picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  padding: 51px 40px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  margin-top: auto;
  padding: 0 41px 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: block;
  padding-top: 31px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: underline;
  text-transform: lowercase;
}

.about {
  padding-right: 24px;
  padding-left: 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  height: 563px;
}

.about__logo div {
  padding-top: 80px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin-top: 36px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
  padding-left: 25px;

}

.about__title {
  flex-basis: 80%;
  padding-top: 138px;
  padding-bottom: 73px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  padding-top: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-right: 1px;
  padding-left: 3px;
}

.footer {
  padding: 180px 50px 90px;
  display: flex;
  justify-content: space-between;
}

.footer .address {
  padding-right: 200px;
  padding-top: 34px;
  padding-left: 2px;
}

.footer__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  padding-top: 33px;
}

.footer__menu-list {
  list-style: none;
  padding-right: 170px;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  padding-top: 33px;
  width: 48px;
}
